doctype html
html
	include common/_head
	body
	include common/_preloader
	<!--[if lt IE 7]>
	<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
	<![endif]-->
	include common/_menu
	include common/_header
	svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").m-corner.m-corner_works
		g.m-corner.m-corner_about-left
			polygon(points="0,0   0,86   500.8,86   500.8,75.5")
		g.m-corner.m-corner_about-right
			polygon(points="1000,0   1000,86   500,86   500,75.5")
	.l-wrapper.l-wrapper_flex
		section.l-section.l-section_left
			.m-title__container
				svg.m-title__background.m-title__background_accent
					use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#stars2")
				h1.m-title.m-title_1 Обо мне
			img(src="assets/img/userpic.jpg").m-img.m-img_responsive
			h2.m-title.m-title_2 Кто я
			p.m-paragraph Я веб-разработчик из Санкт-Петербурга. Мне 21 год. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
			p.m-paragraph Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		section.l-section.l-section_right
			h2.m-title.m-title_2 Чем я могу быть <br> вам полезен
			p.m-paragraph Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			include common/_skills
		section.l-section
			.m-map#m-map
			.m-map__info
				h2.m-title.m-title_2 Контакты
				.m-contacts
					ul.m-contacts-big__list
						include common/_contacts
							each contact, id in contacts
								li.m-contacts-big__item
									svg.m-contacts-big__icon
										use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#"+id)
									a(href=id + ": " + contact).m-contacts-big__link= contact
		include common/_footer
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbmH97MMfOdrC8s7zd4E8PZJkGQn--WR0")