doctype html
html
	include common/_head
	body
	include common/_preloader
	<!--[if lt IE 7]>
	<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
	<![endif]-->
	include common/_menu
	include common/_header_special
	.l-wrapper.l-wrapper_flex
		.l-blog
			.l-blog__nav
				nav.m-blog-contents
					ul.m-blog-contents__list
						li.m-blog-contents__item
							a(href="#post1").m-blog-contents__link.m-blog-contents__link_active Самое важное в SASS
						li.m-blog-contents__item
							a(href="#post2").m-blog-contents__link Приёмы в вёрстке, без которых не обходится ни один сайт
						li.m-blog-contents__item
							a(href="#").m-blog-contents__link Самый необходимый набор Gulp плагинов
						li.m-blog-contents__item
							a(href="#").m-blog-contents__link Почему я выбрал Jade
			ul.m-article__list
				li.m-article__item#post1
					h1.m-article__title Самое важное в SASS
					span.m-article__date 22 ноября 2016
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
					img(src='assets/img/code.png')
				li.m-article__item#post2
					h1.m-article__title Приёмы в вёрстке, без которых не обходится ни один сайт
					span.m-article__date 13 ноября 2016
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
		include common/_footer
	//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbmH97MMfOdrC8s7zd4E8PZJkGQn--WR0")