doctype html
html
	- var title = "Личный сайт Константина Житкова"
	include common/_head
	body
	include common/_preloader
	// include common/_preloader
	<!--[if lt IE 7]>
	<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
	<![endif]-->
	.l-wrapper.l-wrapper_welcome
		video(src="assets/img/night.webm", poster="assets/img/night.jpg", autoplay, preload="auto", loop).m-video
		img(src="assets/img/mountains.png").l-parallax
		a(href="#").m-login-button Авторизоваться
		.l-card-container
			.l-card
				.l-card__front
					.m-welcome
						.m-welcome__userpic
							.m-userpic
						.m-welcome__username Константин Житков
						.m-welcome__description Личный сайт веб-разработчика
						include common/_socials
						ul.m-welcome__social
							each address, social in socials
								li.m-welcome__social-item(class="m-social__item_" + social)
									a(href="#{address}").m-welcome__social-link
										svg.m-welcome__social-icon
											use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#" + social)
					ul.m-tabs
						li.m-tabs__item
							a(href="works.html").m-tabs__link Мои работы
						li.m-tabs__item
							a(href="about.html").m-tabs__link Обо мне
						li.m-tabs__item
							a(href="blog.html").m-tabs__link Блог
				.l-card__back
					.m-login-form
						.m-login-form__title Авторизуйтесь
						.m-input
							svg.m-input__icon.m-input__icon_password
								use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#login")
							input(type="text", placeholder="Логин").m-input__input.m-input__input_iconed
						.m-input
							svg.m-input__icon.m-input__icon_password
								use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#password")
							input(type="text", placeholder="Пароль").m-input__input.m-input__input_iconed
						label.m-checkbox
							input(type="checkbox").m-checkbox__input
							span.m-checkbox__text Я человек
						span.m-radio__question Вы точно не робот?
						label.m-radio
							input(type="radio" name="isHuman", value="yes").m-radio__input
							span.m-radio__answer Да
						label.m-radio
							input(type="radio" name="isHuman" value="no").m-radio__input
							span.m-radio__answer Не уверен
					ul.m-tabs
						li.m-tabs__item
							a(href="index.html").m-tabs__link На главную
						li.m-tabs__item
							a(href="#").m-tabs__link Войти

		footer.l-footer.l-footer_special
			span.l-footer__content © Константин Житков
			span.l-footer__content создано с любовью в LoftSchool | 2016