doctype html
html
	include common/_head
	body
	<!--[if lt IE 7]>
	<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
	<![endif]-->
	include common/_menu
	include common/_header
	.l-header__title
		h1.m-title.m-title_1 Мои работы
	.l-wrapper.l-wrapper_flex
		section.l-section
			.m-slider
				section.m-slider__preview
				section.m-slider__description
					.m-project
						h2.m-title.m-title_2 Интернет-радио
						span.m-project__description HTML5, CSS3, jQuery, three.js
						a(href="http://viberoom.audio").m-button.m-button_link
							span.fa.fa-link
							|  Посмотреть сайт
				section.m-slider__controls
					.m-slider__controls_left
						button.m-slider__controls_button.m-slider__controls_button-left
					.m-slider__controls_right
						button.m-slider__controls_button.m-slider__controls_button-right
		section.l-section
			.m-recalls
				h1.m-title.m-title_1.m-title_light Что обо мне говорят
				ul.m-comment__list
					li.m-comment__item
						.m-comment__userpic.m-comment__userpic_1
						.m-comment__comment Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.m-comment__author-name Ковальчук Дмитрий
						.m-comment__author-description основатель Loftschool
					li.m-comment__item
						.m-comment__userpic.m-comment__userpic_2
						.m-comment__comment Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
						.m-comment__author-name Зар Захаров
						.m-comment__author-description главный преподаватель
				.m-recalls__info
					h2.m-title.m-title_2.m-title_light Связаться со мной
					.m-input
						input(type="text", placeholder="Ваше имя").m-input__input.m-input__input_special
					.m-input
						input(type="text", placeholder="Ваш email").m-input__input.m-input__input_special
					.m-textarea
						textarea(placeholder="Ваше сообщение").m-textarea__textarea.m-textarea__textarea_special
					ul.m-tabs
						li.m-tabs__item
							a(href="#").m-tabs__link Отправить
						li.m-tabs__item.m-tabs__item_special
							a(href="#").m-tabs__link Очистить
			include common/_footer
	//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbmH97MMfOdrC8s7zd4E8PZJkGQn--WR0")