footer.l-footer
   .l-footer_big
      section.m-footer-section.m-footer-section_description
         span.m-message Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      section.m-footer-section.m-footer-section_nav
         nav.m-nav
            ul.m-nav__list
               each title, address in menu
                  li.m-nav__item
                     a(href="#{address}.html").m-nav__link= title
         include _socials
      section.m-footer-section.m-footer-section_contacts
         ul.m-contacts__list.m-contacts__list
            include _contacts
            each contact in contacts
               li.m-contacts__item= contact
   .l-footer_small
      span.m-message.m-message_centered © Константин Житков | Создано с любовью в LoftSchool | 2016