header.l-header
	include _socials
	ul.l-header__social
		each address, social in socials
			li.l-header__social-item(class="l-header__social-item_" + social)
				a(href="#{address}").l-header__social-link
	.l-header__top-button
		a(href="#").m-menu-toggle.m-menu-toggle_open
	.l-header__page-info
		.m-page-info
			.m-page-info__userpic
				.m-userpic
			.m-page-info__username Константин Житков
			.m-page-info__description Личный сайт веб-разработчика
	.l-header__arrow-down
		a(href="#").m-arrow-down