header.l-header
	include _socials
	ul.l-header__social
		each address, social in socials
			li.l-header__social-item(class="l-header__social-item_" + social)
				a(href="#{address}").l-header__social-link
					svg.l-header__social-icon
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#" + social)
	a(href="#").l-header__top-button
		svg.m-menu-toggle.m-menu-toggle_open
			use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#open")
	.l-header__page-info
		.m-page-info
			svg.m-page-info__background
				use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#stars1")
			.m-page-info__userpic
				.m-userpic
			.m-page-info__title Блог
			.m-page-info__description Статьи, которые я написал