header.l-header
	.l-header__social
		include _socials
	.l-header__top-button
		span.m-menu-toggle.m-menu-toggle_open
			a(href="#").m-menu-toggle__link
	.l-header__menu-button
	.l-header__user-info
		.m-user-info.m-user-info_special
			.m-user-info__userpic
			.m-user-info__username Константин Житков
			.m-user-info__description Личный сайт веб-разработчика
	.l-header__arrow-down
		a(href="#").m-arrow-down