header.l-header
	.l-header__social
		include _socials
	.l-header__top-button
		span.m-menu-toggle.m-menu-toggle_open
	.l-header__menu-button
	.l-header__user-info
		.m-user-info
			.m-user-info__userpic
			.m-title.m-title_1.m-title_light.m-title_special Блог
			.m-user-info__description Статьи, которые я написал