-
	var menu = {
		'works' : 'Мои работы',
		'blog' : 'Блог',
		'about' : 'Обо мне',
		'index' : 'Авторизация'
	}

.l-overlap.js-hide
	a(href="#").l-overlap__top-button
		svg.m-menu-toggle.m-menu-toggle_close
			use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/img/sprite.svg#close")
	ul.m-menu
		each title, address in menu
			li.m-menu__item
				a(href="#{address}.html").m-menu__link= title