@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome/FontAwesome.ttf');
}
@font-face {
	font-family: 'Sansus';
	src: url('../fonts/Webissimo/Sansus-Webissimo-Regular.ttf');
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
	font-size: 16px;
}

.page-welcome {
	background: url("../img/night.jpg") no-repeat center center fixed;
	background-size: cover;
}

.icon {
	font-family: 'FontAwesome';
	font-style: normal;
	&_user {
		&::before {
			content: '\f007';
		}
	}
	&_pass {
		&::before {
			content: '\f084';
		}
	}
	&_hamburger {
		&::before {
			content: '\f0c9';
		}
	}
	&_close {
		&::before {
			content: '\f00d';
		}
	}
}

.js-hide {
	display: none;
}