.l-preloader {
	display: block;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: fixed;
	background: url("../img/preloader__bg.jpg") no-repeat center center;
	background-size: cover;
	font-size: 5rem;
	color: #fff;
	z-index: 110;
	&__progress {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
	&__animation {
		$preloader-size: 15rem;
		display: block;
		@include size($preloader-size);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3D(-50%, -50%, 0);
		border: 0.5rem solid #fff;
		border-radius: $preloader-size / 2;
		&::after {
			content: ' ';
			display: block;
			@include size(2rem);
			position: absolute;
			top: -4rem;
			left: 50%;
			transform: translate3D(-50%, 0, 0);
			background-color: #fff;
			border-radius: 1rem;
		}
		animation: spin ease-in-out 4s infinite;
		@keyframes spin {
			0% {
				transform:  translate3D(-50%, -50%, 0) rotate(0deg) ;
			}
			100% {
				transform:  translate3D(-50%, -50%, 0) rotate(360deg) ;
			}
		}
	}
}

.l-header {
	position: relative;
	width: 100vw;
	height: calc(100vh + 20.6rem);
	min-height: 62rem;
	max-width: 100%;
	margin-bottom: -20.6rem;
	background: url('../img/night.jpg') no-repeat center right fixed;
	background-size: cover;
	overflow: hidden;
	@include tablet {
		height: calc(100vh + 15.6rem);
		margin-bottom: -15.6rem;
	}
	@include phone {
		height: calc(100vh + 12.2rem);
		margin-bottom: -12.2rem;
	}
	&__social {
		display: inline-block;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 3.2rem;
		left: 3rem;
		list-style: none;
		@include phone {
			top: 1.2rem;
			left: 1.1rem;
		}
		&-item {
			display: inline-block;
			@include size(2.3rem);
			padding: 0;
			@include phone {
				@include size(2rem);
			}
			&:not(:last-child) {
				margin: 0 2.7rem 0 0;
			}
		}
		&-link {
			&:link, &:visited, &:hover, &:active {
				display: block;
				@include size(100%);
				text-decoration: none;
			}
		}
		&-icon {
			@include size(2.3rem);
			fill: #fff;
			transition: fill $transition__time_fast;
			&:hover {
				fill: $color_2;
			}
			@include phone {
				@include size(2rem);
			}
		}
	}
	&__top-button {
		position: absolute;
		@include desktop {
			top: 2.8rem;
			right: 3rem;
		}
		@include tablet {
			top: 2.8rem;
			right: 3rem;
		}
		@include phone {
			top: 1rem;
			right: 1.1rem;
		}
	}
	&__page-info {
		position: absolute;
		top: calc(50% - (20.6rem / 2));
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		@include tablet {
			top: calc(50% - (15.6rem / 2));
		}
		@include phone {
			top: calc(50% - (12.2rem / 2));
		}
	}
	&__arrow-down {
		position: absolute;
		bottom: calc(7.2rem + 20.6rem);
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		@include tablet {
			bottom: calc(5.2rem + 15.6rem);
		}
		@include phone {
			bottom: calc(3.2rem + 12.2rem);
		}
	}
	&__title {
		display: block;
		width: 100%;
		position: relative;
		background-color: rgba(#0d1120, 0.85);
	}
	&__corner {
		position: absolute;
		height: 140px;
		bottom: 72px;
		&_left {
			left: 0;
			fill: #f2f0e8;
		}
		&_right {
			right: 0;
			fill: #f2f0e8;
			@include desktop {
				fill: #efebe0;
			}
		}
	}
}

.l-wrapper {
	display: none;
	position: relative;
	&_flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&_welcome {
		overflow: hidden;
	}
}

.l-parallax {
	display: block;
	width: 220rem;
	margin-left: 0rem;
	position: absolute;
	left: 50%;
	transform: translate3D(-50%, 0, 0);
	bottom: -50%;
}

.l-section {
	position: relative;
	flex: 1 1 100%;
	&_left {
		flex: 1 1 100%;
		position: relative;
		background-color: rgb(242, 240, 232);
		@include desktop {
			flex: 1 1 50%;
			padding: 0 4rem 8rem 4rem;
		}
		@include tablet {
			padding: 0 5rem 15rem 5rem;
		}
		@include phone {
			padding: 0 3rem 1rem 3rem;
		}
	}
	&_right {
		position: relative;
		background-color: #efebe0;
		flex: 1 1 100%;
		@include desktop {
			flex: 1 1 50%;
			padding: 4rem 1rem 4rem 4rem;
		}
		@include tablet {
			padding: 5rem 15rem;
		}
		@include phone {
			padding: 3rem 1rem;
		}
	}
}

.l-overlap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 100%;
	background-color: rgba($color_4, 0.87);
	&__top-button {
		position: absolute;
		@include desktop {
			top: 2.8rem;
			right: 3rem;
		}
		@include tablet {
			top: 2.8rem;
			right: 3rem;
		}
		@include phone {
			top: 1rem;
			right: 1.1rem;
		}
	}
}

.l-footer {
	display: block;
	width: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	&_big {
		background-color: rgba(28, 31, 41, 0.85);
		width: 100%;
		&::after {
			content: ' ';
			display: table;
			clear: both;
		}
	}
	&_small {
		padding: 10px 0;
		text-align: center;
		background-color: rgba($color_5, 0.85);
		font-weight: 300;
	}
	&_special {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 300;
		text-align: center;
		@include desktop {
			bottom: 4rem;
			font-size: 1.6rem;
		}
		@include tablet {
			bottom: 4rem;
			font-size: 1.6rem;
		}
		@include phone {
			bottom: 0.8rem;
			font-size: 1.4rem;
		}
	}
	&__social {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		@include phone {
			top: 1.2rem;
			left: 1.1rem;
		}
		&-item {
			display: inline-block;
			@include size(2.3rem);
			padding: 0;
			@include phone {
				@include size(2rem);
			}
			&:not(:last-child) {
				margin: 0 2.7rem 0 0;
			}
		}
		&-link {
			&:link, &:visited, &:hover, &:active {
				display: block;
				@include size(100%);
				text-decoration: none;
			}
		}
		&-icon {
			@include size(2.3rem);
			fill: #fff;
			transition: fill $transition__time_fast;
			&:hover {
				fill: $color_2;
			}
			@include phone {
				@include size(2rem);
			}
		}
	}
	&__content {
		@include desktop {
			display: inline-block;
			&:not(:last-child)::after {
				content: '\00A0|\00A0';
			}
		}
		@include tablet {
			display: inline-block;
			&:not(:last-child)::after {
				content: '\00A0|\00A0';
			}
		}
		@include phone {
			display: block;
		}
	}
}

.l-card {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
	&-container {
		display: block;
		width: 100%;
		height: 100%;
		perspective: 1000px;
		&.js-flip .l-card {
			transform: rotateY(180deg);
		}
	}
	&__front {
		max-width: 38rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: rotateY(0deg) translate(-50%, -50%); /* for FF 31 */
		background-color: rgba(28, 31, 41, 0.5);
		color: #ffffff;
		backface-visibility: hidden;
		z-index: 2;
		@include desktop {
			width: 38rem; // 31.667%
		}
		@include tablet {
			width: 34.8rem; // 45.3125%;
		}
		@include phone {
			width: 30rem; // 93.75%
		}
	}
	&__back {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: rotateY(180deg) translate(50%, -50%);
		background-color: rgba(28, 31, 41, 0.5);
		text-align: center;
		color: #ffffff;
		backface-visibility: hidden;
		@include desktop {
			width: 38rem;
		}
		@include tablet {
			width: 34.8rem;
		}
		@include phone {
			width: 30rem;
		}
	}
}

.l-blog {
	position: relative;
	padding: 11rem 0;
	background-color: rgb(250, 248, 240);
	@include tablet {
		padding-top: 6rem;
	}
	@include phone {
		padding-top: 4rem;
	}
	&__nav {
		width: 30%;
		position: relative;
		height: 1px;
		float: left;
		@include tablet {
			display: none;
		}
		@include phone {
			display: none;
		}
	}
}