.l-header {
	position: relative;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	background: url('../img/night.jpg') no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	&__social {
		position: absolute;
		top: 25px;
		left: 30px;
	}
	&__top-button {
		position: absolute;
		top: 30px;
		right: 30px;
	}
	&__user-info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	&__arrow-down {
		position: absolute;
		bottom: 72px;
		left: 50%;
		transform: translateX(-50%);
	}
	&__title {
		display: block;
		position: relative;
		width: 100%;
		padding: 59px 0 0 0;
	}
}

.l-wrapper {
	position: relative;
	&_flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.l-section {
	position: relative;
	flex: 1 1 100%;
	&_left {
		position: relative;
		padding: 40px 80px;
		background-color: rgb(242, 240, 232);
		flex: 1 1 50%;
		@media screen and (max-width: 767px) {
			flex: 1 1 100%;
		}
	}
	&_right {
		position: relative;
		padding: 40px;
		background-color: #efebe0;
		flex: 1 1 50%;
		@media screen and (max-width: 767px) {
			flex: 1 1 100%;
		}
	}
}

.l-overlap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100vw;
	height: 100vh;
	background-color: rgba(24, 54, 105, 0.87);
	&__top-button {
		position: absolute;
		top: 29px;
		right: 48px;
	}
}

.l-footer {
	display: block;
	width: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	&_big {
		background-color: rgba(28, 31, 41, 0.85);
		width: 100%;
		&::after {
			content: ' ';
			display: table;
			clear: both;
		}
	}
	&_small {
		padding: 10px 0;
		text-align: center;
		background-color: rgba(8, 60, 150, 0.85);
		font-weight: 300;
	}
	&_special {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 300;
		text-align: center;
	}
}

.l-card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	&-container {
		perspective: 1000px;
		&.js-flip .l-card {
			transform: rotateY(180deg);
		}

	}
}

.l-front {
	width: 380px;
	padding-top: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotateY(0deg) translate(-50%, 20%); /* for FF 31 */
	background-color: rgba(28, 31, 41, 0.5);
	color: #ffffff;
	backface-visibility: hidden;
	z-index: 2;
	&__user-info {
		margin-bottom: 20px;
	}
	&__social {
		margin-bottom: 35px;
		text-align: center;
		color: rgba(0, 76, 209, 0.7);
	}
}

.l-back {
	width: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotateY(180deg) translate(50%, 20%);
	background-color: rgba(28, 31, 41, 0.5);
	text-align: center;
	color: #ffffff;
	backface-visibility: hidden;
	&__title {
		display: block;
		text-align: center;
		margin: 35px 0 40px;
		font-family: 'SansusWebissimo', sans-serif;
		font-size: 35px;
		line-height: 1.171428;
		text-transform: uppercase;
	}
	&__input-username {
		display: block;
		width: 340px;
		margin: 0px auto 20px auto;
		padding: 14px 20px 14px 65px;
	}
	&__input-password {
		display: block;
		width: 340px;
		margin: 0px auto 20px auto;
		padding: 14px 20px 14px 65px;
	}
	&__btn_checkbox {
		margin-right: 20px;
		&::before {
			content: ' ';
			display: block;
			background-color: rgb(5, 72, 190);
			width: 20px;
			height: 20px;
			border-radius: 2px;
		}
		&:checked {
			background-color: rgb(255, 255, 255);
		}
	}
	&__nav {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		table-layout: fixed;
		&-item {
			position: relative;
			display: table-cell;
			line-height: 45px;
			text-align: center;
			background-color: rgba(0, 76, 209, 0.85);
			&:hover {
				background-color: rgba(4, 62, 163, 0.85);
			}
			&:not(:last-child) {
				border-right: 2px solid rgba(255, 255, 255, 0.5);
			}
		}
		&-link {
			display: block;
			&:link, &:visited, &:hover, &:active {
				color: #fff;
				font-weight: 400;
				text-decoration: none;
			}
		}
	}
}

.l-blog {
	position: relative;
	padding: 97px 0;
	background-color: rgb(250, 248, 240);
	&::before {
		content: ' ';
		display: block;
		position: absolute;
		top: -20vh;
		left: 0;
		width: 100%;
		height: 260px;
		background: url('../img/bg.svg') no-repeat center center;
		background-size: cover;
	}
	&__nav {
		width: 30%;
		float: left;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}