.l-header {
	position: relative;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	background: url('../img/night.jpg') no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	&__social {
		position: absolute;
		top: 25px;
		left: 30px;
	}
	&__top-button {
		position: absolute;
		top: 30px;
		right: 30px;
	}
	&__user-info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	&__arrow-down {
		position: absolute;
		bottom: 72px;
		left: 50%;
		transform: translateX(-50%);
	}
	&__title {
		display: block;
		position: relative;
		width: 100%;
		padding: 59px 0 0 0;
	}
}

.l-wrapper {
	position: relative;
	&_flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.l-section {
	position: relative;
	flex: 1 1 100%;
	&_left {
		position: relative;
		padding: 40px 80px;
		background-color: rgb(242, 240, 232);
		flex: 1 1 50%;
		@media screen and (max-width: 767px) {
			flex: 1 1 100%;
		}
	}
	&_right {
		position: relative;
		padding: 40px;
		background-color: #efebe0;
		flex: 1 1 50%;
		@media screen and (max-width: 767px) {
			flex: 1 1 100%;
		}
	}
}

.l-overlap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100vw;
	height: 100vh;
	background-color: rgba(24, 54, 105, 0.87);
	&__top-button {
		position: absolute;
		top: 29px;
		right: 48px;
	}
}

.l-footer {
	display: block;
	width: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	&_big {
		background-color: rgba(28, 31, 41, 0.85);
		width: 100%;
		&::after {
			content: ' ';
			display: table;
			clear: both;
		}
	}
	&_small {
		padding: 10px 0;
		text-align: center;
		background-color: rgba(8, 60, 150, 0.85);
		font-weight: 300;
	}
	&_special {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 300;
		text-align: center;
		@include desktop {
			bottom: 4rem;
			font-size: 1.6rem;
		}
		@include tablet {
			bottom: 4rem;
			font-size: 1.6rem;
		}
		@include phone {
			bottom: 0.8rem;
			font-size: 1.4rem;
		}
	}
	&__content {
		@include desktop {
			display: inline-block;
			&:not(:last-child)::after {
				content: '\00A0|\00A0';
			}
		}
		@include tablet {
			display: inline-block;
			&:not(:last-child)::after {
				content: '\00A0|\00A0';
			}
		}
		@include phone {
			display: block;
		}
	}
}

.l-card {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
	&-container {
		display: block;
		width: 100%;
		height: 100%;
		perspective: 1000px;
		&.js-flip .l-card {
			transform: rotateY(180deg);
		}

	}
}

.l-front {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotateY(0deg) translate(-50%, -50%); /* for FF 31 */
	background-color: rgba(28, 31, 41, 0.5);
	color: #ffffff;
	backface-visibility: hidden;
	z-index: 2;
	&__user-info {
		margin-bottom: 1rem;
	}
	&__social {
		text-align: center;
		color: rgba(0, 76, 209, 0.7);
		@include desktop {
			margin-bottom: 2.7rem;
		}
		@include tablet {
			margin-bottom: 2.7rem;
		}
		@include phone {
			margin-bottom: 3rem;
		}
	}
}

.l-back {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: rotateY(180deg) translate(50%, -50%);
	background-color: rgba(28, 31, 41, 0.5);
	text-align: center;
	color: #ffffff;
	backface-visibility: hidden;
	@include desktop {
		width: 38rem;
	}
	@include tablet {
		width: 34.8rem;
	}
	@include phone {
		width: 30rem;
	}
	&__title {
		display: block;
		text-align: center;
		font-family: 'SansusWebissimo', sans-serif;
		text-transform: uppercase;
		@include desktop {
			margin: 3.6rem 0;
			font-size: 3.5rem;
			line-height: 1.17143;
		}
		@include tablet {
			margin: 3rem 0;
			font-size: 3rem;
			line-height: 1.4;
		}
		@include phone {
			margin: 2.7rem 0 3.1rem 0;
			font-size: 3rem;
			line-height: 1.4;
		}
	}
}

.l-blog {
	position: relative;
	padding: 97px 0;
	background-color: rgb(250, 248, 240);
	&::before {
		content: ' ';
		display: block;
		position: absolute;
		top: -20vh;
		left: 0;
		width: 100%;
		height: 260px;
		background: url('../img/bg.svg') no-repeat center center;
		background-size: cover;
	}
	&__nav {
		width: 30%;
		float: left;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}