.m-social {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item {
		display: inline-block;
		@include size(31px, 31px);
		padding: 0;
		@each $social in (vk, gh, in) {
			&_#{$social} {
				background: url('../img/#{$social}.svg') no-repeat center center;
				background-size: 28px;
			}
		}
		&:not(:last-child) {
			margin: 0 21px 0 0;
		}
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			display: block;
			@include size(31px, 31px);
			text-decoration: none;
		}
	}
}

.m-title {
	font-family: 'Sansus';
	color: rgb(71, 75, 87);
	display: block;
	position: relative;
	&_1 {
		margin: 0 auto 59px auto;
		font-size: 63px;
		text-align: center;
		text-transform: uppercase;
		max-width: 500px;
		line-height: 67px;
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			top: -27px;
			left: 50%;
			transform: translateX(-50%);
			width: 190px;
			height: 123px;
			background: url("../img/stars2.svg") no-repeat center center;
			opacity: 0.1;
		}
	}
	&_2 {
		margin: 0 auto 27px auto;
		font-size: 35px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		max-width: 300px;
		&::after {
			content: ' ';
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -14px;
			width: 89px;
			height: 3px;
			background-color: rgb(86, 99, 88);
		}
	}
	&_3 {

	}
	&_4 {
		font-size: 28px;
		font-weight: 500;
		color: #474b57;
		margin: 0 0 20px 0;
	}
	&_light {
		color: #fff;
	}
	&_special {
		margin-bottom: 5px;
	}
	&__description {
		text-align: center;
		color: rgb(8, 60, 150);
	}
}

.m-img {
	position: relative;
	margin-bottom: 27px;
	&_responsive {
		width: 100%;
	}
}

.m-input {
	margin-bottom: 20px;
	&__input {
		width: 338px;
		height: 45px;
		padding: 0 14px;
		border: none;
		outline: none;
		&_iconed {
			padding-left: 65px;
		}
		&_special {
			background-color: rgba(255, 255, 255, 0.07);
			color: rgba(255, 255, 255, 0.5);
		}
	}
	&__icon {
		position: absolute;
		width: 45px;
		height: 45px;
		background-color: rgb(240, 239, 233);
		line-height: 45px;
		text-align: center;
		font-size: 16px;
		color: rgb(196, 203, 205);
	}
}

.m-textarea {
	&__textarea {
		resize: none;
		border: none;
		outline: none;
		width: 338px;
		height: 130px;
		padding: 14px;
		margin-bottom: 17px;
		&_special {
			background-color: rgba(255, 255, 255, 0.07);
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

.m-checkbox {
	display: block;
	cursor: pointer;
	margin-bottom: 20px;
	&__input {
		display: none;
	}
	&__input + &__text::before {
		content: '\f0c8';
		margin-right: 10px;
		color: rgb(5, 72, 190);
		font-family: 'FontAwesome';
		font-size: 20px;
		text-align: center;
	}
	&__input:checked + &__text::before {
		content: '\f14a';
	}
	&__text {
		color: #fff;
	}
}

.m-radio {
	display: inline-block;
	cursor: pointer;
	margin-bottom: 20px;
	&:not(:last-of-type) {
		margin-right: 40px;
	}
	&__input {
		display: none;
	}
	&__input + &__text::before {
		content: '\f10c';
		margin-right: 10px;
		color: rgb(5, 72, 190);
		font-family: 'FontAwesome';
		font-size: 20px;
		text-align: center;
	}
	&__input:checked + &__text::before {
		content: '\f192';
	}
	&__text {
		color: #fff;
		display: block;
		margin-bottom: 16px;
	}
}

.m-user-info {
	position: relative;
	padding-top: 34px;
	height: 273px;
	&_special::before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/stars1.svg') no-repeat center center;
		background-size: cover;
		opacity: 0.07;
	}
	&__userpic {
		position: relative;
		width: 140px;
		height: 140px;
		margin: 0px auto 18px auto;
		border-radius: 50%;
		background: url("../../assets/img/userpic.jpg") no-repeat 72% 8%;
		background-size: cover;
	}
	&__username {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 35px;
		font-weight: 500;
		color: #fff;
	}
	&__description {
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 16px;
		font-weight: 300;
		color: #ffffff;
	}
}

.m-menu {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	&__item {
		position: relative;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
		&:hover::after {
			content: ' ';
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -18px;
			width: 90px;
			height: 3px;
			background-color: #fff;
		}
	}
	&__link {
		font-family: 'Sansus';
		font-size: 63px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.m-menu-toggle {
	display: inline-block;
	@include size(40px, 40px);
	padding: 0;
	cursor: pointer;
	&_open {
		background: url('../img/hamburger.svg') no-repeat center center;
		background-size: 40px;
	}
	&_close {
		background: url('../img/close.svg') no-repeat center center;
		background-size: 40px;
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.m-login-button {
	display: block;
	position: absolute;
	right: 20px;
	top: 24px;
	padding: 12px 28px;
	color: #fff;
	text-decoration: none;
	&:link, &:visited, &:active {
		border: 1px solid rgb(255, 255, 255);
	}
	&:hover {
		border-color: transparent;
		background-color: rgb(8, 60, 150);
	}
}

.m-map {
	max-width: 100%;
	position: relative;
	@media screen and (min-width: 1200px) {
		margin-bottom: -197px;
		height: calc(197px + 100vh);
	}
	@media screen and (max-width: 1199px) {
		margin-bottom: -283px;
		height: calc(283px + 100vh);
	}
	@media screen and (max-width: 767px) {
		margin-bottom: -462px;
		height: calc(462px + 100vh);
	}
	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.7);
		padding: 38px 19px 30px 19px;
		@media screen and (max-width: 767px) {
			top: 0;
			left: 0;
			right: 0;
			transform: translate(0%, 0%);
		}
	}
}

#m-map {

}

.m-contacts {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.m-contacts-big {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		padding: 15px;
		vertical-align: middle;
		@media screen and (min-width: 1200px) {
			display: inline-block;
			width: 46%;
		}
		@media screen and (max-width: 1199px) {
			display: block;
			width: 100%;
		}
	}
	&__icon {
		width: 40px;
		height: 40px;
		margin-right: 10px;
		vertical-align: middle;
	}
	&__title {

	}
}

.m-nav {
	margin: 0;
	padding: 0;
	&__list {
		margin: 0 0 30px 0;
		padding: 0;
		width: 100%;
		list-style: none;
		white-space: nowrap;
		text-align: justify;
		text-align-last: justify;
	}
	&__item {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			color: #fff;
			text-decoration: none;
		}
	}
}

.m-footer-section {
	position: relative;
	padding: 31px;
	font-size: 14px;
	line-height: 24px;
	@media screen and (min-width: 1200px) {
		&:not(:last-child)::after {
			content: ' ';
			width: 2px;
			position: absolute;
			right: 0;
			top: 31px;
			bottom: 31px;
			background-color: rgba(255, 255, 255, 0.2);
		}
		&_description {
			float: left;
			width: 35%;
			text-align: left;
		}
		&_nav {
			float: left;
			width: 40%;
			text-align: left;
		}
		&_contacts {
			float: left;
			width: 25%;
			text-align: left;
		}
	}
	@media screen and (max-width: 1199px) {
		&_description {
			float: left;
			width: 100%;
			text-align: center;
			&::after {
				content: ' ';
				height: 2px;
				position: absolute;
				left: 31px;
				right: 31px;
				bottom: -2px;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
		&_nav {
			float: left;
			width: 50%;
			text-align: left;
		}
		&_contacts {
			float: left;
			width: 50%;
			text-align: right;
		}
	}
	@media screen and (max-width: 767px) {
		&:not(:last-child)::after {
			content: ' ';
			height: 2px;
			position: absolute;
			left: 31px;
			right: 31px;
			bottom: -2px;
			background-color: rgba(255, 255, 255, 0.2);
		}
		&_description {
			float: left;
			width: 100%;
			text-align: center;
		}
		&_nav {
			float: left;
			width: 100%;
			text-align: center;
		}
		&_contacts {
			float: left;
			width: 100%;
			text-align: center;
		}
	}
}

.m-work {
	text-align: center;
}

.m-button {
	display: inline-block;
	position: relative;
	padding: 12px 18px;
	background-color: rgb(0, 76, 209);
	color: #fff;
	font-weight: 500;
	&:link, &:visited, &:hover, &:active {
		text-decoration: none;
	}
	&_link::before {
		content: ' ';
		display: inline-block;
		position: relative;
		width: 14px;
		height: 14px;
		background: url('../img/link.svg') no-repeat center center;
		background-size: 14px;
	}
}

.m-recalls {
	max-width: 100%;
	padding: 74px 0 250px 0;
	background: url('../img/night2.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	@media screen and (min-width: 1200px) {
		margin-bottom: -197px;
	}
	@media screen and (max-width: 1199px) {
		margin-bottom: -283px;
		padding-bottom: 344px;
	}
	@media screen and (max-width: 767px) {
		margin-bottom: -462px;
		padding-bottom: 520px;
	}
	&__info {
		margin: 0 auto;
		max-width: 380px;
		background-color: rgba(255, 255, 255, 0.05);
		padding: 32px 0 0 0;
		text-align: center;
	}
}

.m-comment {
	&__list {
		margin: 0 0 70px 0;
		padding: 0;
		list-style: none;
		position: relative;
		display: block;
		text-align: center;
	}
	&__item {
		margin: 0;
		padding: 0;
		display: inline-block;
		max-width: 387px;
		color: #fff;
		font-style: italic;
		line-height: 1.625;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	&__userpic {
		width: 77px;
		height: 77px;
		margin: 0px auto 16px auto;
		border-radius: 50%;
		background-size: cover;
		&_1 {
			background-image: url(../img/user-dmitrii.jpg);
		}
		&_2 {
			background-image: url(../img/user-zar.jpg);
		}
	}
	&__comment {
		position: relative;
		text-align: left;
		margin-bottom: 15px;
		&::before {
			content: ' ';
			position: absolute;
			top: -22px;
			left: 4px;
			display: block;
			@include size(90px, 74px);
			background: url('../img/quote.svg') no-repeat;
			background-size: 74px;
			opacity: 0.1;
		}
		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}
	&__author-name {
		text-align: center;
	}
	&__author-description {
		text-align: center;
		&::before {
			content: '- ';
		}
	}
}

.m-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	table-layout: fixed;
	&__item {
		position: relative;
		display: table-cell;
		line-height: 45px;
		text-align: center;
		background-color: rgba(0, 76, 209, 0.85);
		&:hover {
			background-color: rgba(4, 62, 163, 0.85);
		}
		&:not(:first-child) {
			border-left: 2px solid rgba(255, 255, 255, 0.5);
		}
		&_special {
			background-color: transparent;
			&:not(:first-child) {
				border-color: transparent;
			}
		}
	}
	&__link {
		display: block;
		&:link, &:visited, &:hover, &:active {
			color: #fff;
			font-weight: 400;
			text-decoration: none;
		}
	}
}

.m-arrow-down {
	&:link, &:visited, &:hover, &:active {
		background: url('../img/arrow_down.svg') no-repeat center center;
		background-size: 25px;
		text-decoration: none;
		display: block;
		width: 25px;
		height: 25px;
	}
}

.m-paragraph {
	position: relative;
	color: #474b57;
	line-height: 24px;
	margin: 0 0 10px 0;
}

.m-article {
	&__list {
		margin: 0;
		padding: 0 30px;
		width: 70%;
		float: left;
		list-style: none;
		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}
	&__item {
		margin: 0;
		padding: 0;
		position: relative;
		&:not(:last-child) {
			padding-bottom: 71px;
			margin-bottom: 61px;
			&::after {
				content: ' ';
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 5px;
				background-color: rgba(55, 62, 66, 0.07);
			}
		}
		p {
			@extend .m-paragraph;
			margin: 0 0 10px 0;
		}
		img {
			width: 100%;
		}
	}
	&__title {
		margin: 0 0 20px 0;
		font-family: 'Sansus';
		font-size: 35px;
		font-weight: 500;
		color: #455a64;
	}
	&__date {
		display: block;
		margin-bottom: 19px;
		color: rgba(#083c96, 0.70);
		font-size: 16px;
	}
}

.m-blog-contents {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
	}
	&__item {
		margin: 0;
		padding: 0;
	}
	&__link {
		&:link, &:visited {
			position: relative;
			padding: 10px 20px;
			color: #566358;
			text-decoration: none;
			display: block;
		}
		&_active, &_active:link, &_active:visited, &:hover, &:active {
			color: #083c96;
			&:after {
				content: ' ';
				position: absolute;
				display: block;
				background-color: #083c96;
				top: 0;
				right: 0;
				bottom: 0;
				width: 3px;
			}
		}
	}
}

.m-skills {
	margin: 0;
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		display: inline-block;
		position: relative;
		margin: 0 34px 40px 0;
		padding: 0;
		width: #{$graph__d}px;
		height: #{$graph__d}px;
	}
	&__title {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin: auto;
		text-align: center;
		color: #243994;
		font-size: 12.8px;
		font-weight: 500;
	}
}

.m-graph {
	transform: rotate(-90deg);
	height: 100%;
	width: 100%;
	viewBox: 0 0 $graph__d $graph__d;
	&__canvas {
		@include graph($graph__x,$graph__y,$graph__r,#dfdcd5,$graph__sw,transparent);
	}
	&__progress {
		@include graph($graph__x,$graph__y,$graph__r,#1056d1,$graph__sw,transparent);
		@each $percent in (0, 10,20,30,40,50,60,70,80,90,100) {
			&_#{$percent} {
				stroke-dasharray: ($graph__p / 100 * $percent) $graph__p;
			}
		}
	}
}

.m-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	&_hc {
		justify-content: center;
	}
	&_vc {
		align-items: center;
	}
}

.m-slider {
	position: relative;
	display: block;
	height: 130vh;
	background-color: #f2f0e8;
	overflow: auto;
	&__description {
		position: relative;
		display: block;
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
		@media screen and (max-width: 768px) {
			height: 50vh;
			width: 100%;
		}
	}
	&__preview {
		position: relative;
		display: block;
		width: 50%;
		height: 70%;
		float: right;
		background: url('../img/project1.jpg') no-repeat center center;
		background-size: 80%;
		@media screen and (max-width: 768px) {
			float: left;
			width: 100%;
			height: 50vh;
		}
	}
	&__controls {
		position: relative;
		display: block;
		width: 50%;
		height: 30%;
		float: right;
		overflow: auto;
		@media screen and (max-width: 768px) {
			float: left;
			width: 100%;
			height: 30vh;
		}
		&_left {
			position: relative;
			display: block;
			float: left;
			width: 50%;
			height: 100%;
			background-color: #ccc;
			font-size: 30px;
			background: url('../img/project1.jpg') no-repeat center center;
			background-size: 60%;
		}
		&_right {
			position: relative;
			display: block;
			float: right;
			width: 50%;
			height: 100%;
			background-color: #ccc;
			color: #fff;
			font-size: 30px;
			background: url('../img/project1.jpg') no-repeat center center;
			background-size: 60%;
		}
		&_button {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			border: 0;
			outline: none;
			background-color: transparent;
			transition: all 0.2s;
			color: #fff;
			text-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
			cursor: pointer;
			&:hover {
				background-color: rgba(#000, 0.7);
				padding: 10px 0 0 0;
			}
			&-left::before {
				 content: ' ';
				 display: block;
				 width: 100%;
				 height: 100%;
				 background: url('../img/slider_arrow_down.svg') no-repeat center center;
			 }
			&-right::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/slider_arrow_up.svg') no-repeat center center;
			}
		}
	}
}

.m-project {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__description {
		display: block;
		margin-bottom: 50px;
		font-size: 16px;
		color: #083c96;
	}
}

/////