.m-social {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item {
		display: inline-block;
		@include size(31px, 31px);
		padding: 0;
		@each $social in (vk, gh, in) {
			&_#{$social} {
				background: url('../img/#{$social}.svg') no-repeat center center;
				background-size: 28px;
			}
		}
		&:not(:last-child) {
			margin: 0 21px 0 0;
		}
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			display: block;
			@include size(31px, 31px);
			text-decoration: none;
		}
	}
}

.m-title {
	display: block;
	font-family: 'SansusWebissimo', sans-serif;
	color: #373e42;
	&_1 {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		@include desktop {
			margin: 0 auto 7rem auto;
			font-size: 6.3rem;
			line-height: 1.04762;
		}
		@include tablet {
			margin: 0 auto 5rem auto;
			font-size: 4.9rem;
			line-height: 1.1429;
		}
		@include phone {
			margin: 0 auto 4rem auto;
			font-size: 3.5rem;
			line-height: 1.2;
		}
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			top: -27px;
			left: 50%;
			transform: translate3D(-50%, 0, 0);
			background: url("../img/stars2.svg") no-repeat center center;
			background-size: cover;
			opacity: 0.1;
			z-index: -1;
			@include desktop {
				width: 19rem;
				height: 12.3rem;
			}
			@include tablet {
				width: 15.4rem;
				height: 10rem;
			}
			@include phone {
				width: 12rem;
				height: 7.77rem;
			}
		}
	}
	&_2 {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		@include desktop {
			margin: 0 auto 6rem auto;
			font-size: 3.5rem;
			line-height: 1.17143;
		}
		@include tablet {
			margin: 0 auto 5rem auto;
			font-size: 3rem;
			line-height: 1.3667;
		}
		@include phone {
			margin: 0 auto 4rem auto;
			font-size: 2.8rem;
			line-height: 1.333;
		}
		&::after {
			content: ' ';
			display: block;
			width: 9rem;
			height: 3px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			background-color: #566358;
			@include desktop {
				bottom: -3rem;
			}
			@include tablet {
				bottom: -2.5rem;
			}
			@include phone {
				width: 6rem;
				bottom: -2rem;
			}
		}
	}
	&_light {
		color: #fff;
	}
	&_special {
		margin-bottom: 5px;
	}
	&__description {
		text-align: center;
		color: rgb(8, 60, 150);
	}
}

.m-img {
	position: relative;
	margin-bottom: 27px;
	&_responsive {
		width: 100%;
	}
}

.m-input {
	$input-height: 4.5rem;
	@include size(100%, $input-height);
	position: relative;
	margin-bottom: 2rem;
	&__input {
		@include size(100%);
		padding: 0 1.5rem;
		border: none;
		outline: none;
		&_iconed {
			padding-left: 6.5rem;
		}
		&_special {
			background-color: rgba(255, 255, 255, 0.07);
			color: rgba(255, 255, 255, 0.5);
		}
	}
	&__icon {
		position: absolute;
		@include size($input-height, $input-height);
		background-color: rgb(240, 239, 233);
		&_login::before {
			content: ' ';
			display: block;
			@include size($input-height, $input-height);
			position: absolute;
			top: 0;
			left: 0;
			background: url('../img/login.svg') no-repeat center center;
			background-size: $input-height / 3;
		}
		&_password::before {
			content: ' ';
			display: block;
			@include size($input-height, $input-height);
			position: absolute;
			top: 0;
			left: 0;
			background: url('../img/password.svg') no-repeat center center;
			background-size: $input-height / 2;
		}
	}
}

.m-textarea {
	&__textarea {
		resize: none;
		border: none;
		outline: none;
		width: 100%;
		height: 13rem;
		padding: 1.5rem;
		margin-bottom: 2rem;
		@include desktop {
		}
		@include tablet {
		}
		@include phone {
			height: 14rem;
		}
		&_special {
			background-color: rgba(255, 255, 255, 0.07);
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

.m-checkbox {
	display: block;
	cursor: pointer;
	@include desktop {
		margin-bottom: 1rem;
	}
	@include tablet {
		margin-bottom: 1rem;
	}
	@include phone {
		margin-bottom: 1rem;
	}
	&__input {
		display: none;
	}
	&__input + &__text::before {
		content: '\f0c8';
		margin-right: 10px;
		color: rgb(5, 72, 190);
		font-family: 'FontAwesome';
		font-size: 20px;
		text-align: center;
	}
	&__input:checked + &__text::before {
		content: '\f14a';
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		color: #fff;
	}
}

.m-radio {
	display: inline-block;
	cursor: pointer;
	&:not(:last-of-type) {
		margin-right: 4rem;
	}
	&__input {
		display: none;
	}
	&__input + &__answer::before {
		content: '\f10c';
		margin-right: 1rem;
		color: rgb(5, 72, 190);
		font-family: 'FontAwesome';
		font-size: 2rem;
		text-align: center;
	}
	&__input:checked + &__answer::before {
		content: '\f192';
	}
	&__question {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size:1.6rem;
		font-weight: 700;
		line-height: 1.5;
		color: #fff;
	}
	&__answer {
		display: block;
		margin-bottom: 1.6rem;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.5;
		color: #fff;
	}
}

.m-page-info {
	margin: 0 auto;
	position: relative;
	padding: 4rem 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	&::before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/stars1.svg') no-repeat center center;
		background-size: 100%;
		background-position-y: 20%;
		opacity: 0.07;
		z-index: -1;
	}
	@include desktop {
		width: 50rem;
	}
	@include tablet {
		width: 34.8rem;
	}
	@include phone {
		width: 30rem;
	}
	&__userpic {
		display: inline-block;
		margin-bottom: 1.4rem;
	}
	&__username {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
		font-family: 'Roboto', sans-serif;
		font-size: 3.5rem;
		font-weight: 500;
		line-height: 1.17149;
		@include phone {
			font-size: 2.1rem;
			line-height: 1.3333;
		}
	}
	&__description {
		display: block;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.5;
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__title {
		/*	Заголовок блога */
		margin-bottom: 2.3rem;
		font-family: 'SansusWebissimo', sans-serif;
		font-size: 6.3rem;
		color: #fff;
		line-height: 0.88888;
	}
}

.m-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	font-family: 'SansusWebissimo';
	line-height: 0.6857;
	text-transform: uppercase;
	&__item {
		position: relative;
		&:hover::after {
			content: ' ';
			display: block;
			width: 8.9rem;
			position: absolute;
			bottom: -3rem;
			left: 50%;
			transform: translateX(-50%);
			height: 0.3rem;
			background-color: #fff;
			@include phone {
				width: 5.6rem;
				bottom: -1.9rem;
			}
		}
		@include desktop {
			font-size: 6.3rem;
			&:not(:last-child) {
				margin-bottom: 9rem;
			}
		}
		@include tablet {
			font-size: 4.9rem;
			&:not(:last-child) {
				margin-bottom: 10rem;
			}
		}
		@include phone {
			font-size: 3.5rem;
			&:not(:last-child) {
				margin-bottom: 5rem;
			}
		}
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			text-decoration: none;
			color: #fff;
		}
	}
}

.m-menu-toggle {
	display: inline-block;
	padding: 0;
	cursor: pointer;
	&:link, &:visited, &:hover, &:active {
		display: block;
	}
	&_open {
		@include size(4rem, 3.5rem);
		@include desktop {
			&::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/hamburger.svg') no-repeat center center;
				background-size: 3.6rem;
			}
		}
		@include tablet {
			&::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/hamburger.svg') no-repeat center center;
				background-size: 3.6rem;
			}
		}
		@include phone {
			@include size(2.6rem, 2.3rem);
			&::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/hamburger.svg') no-repeat center center;
				background-size: 2.5rem;
			}
		}
	}
	&_close {
		@include size(3.6rem);
		@include desktop {
			&::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/close.svg') no-repeat center center;
				background-size: 3.6rem;
			}
		}
		@include tablet {
			&::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/close.svg') no-repeat center center;
				background-size: 3.6rem;
			}
		}
		@include phone {
			@include size(2.5rem);
			&::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/close.svg') no-repeat center center;
				background-size: 2.5rem;
			}
		}
	}
}

.m-login-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem 2.8rem;
	position: absolute;
	top: 2.4rem;
	right: 2rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.25;
	z-index: 100;
	&:link, &:visited {
		border: 1px solid rgb(255, 255, 255);
		text-decoration: none;
		color: #fff;
	}
	&:hover, &:active {
		border-color: transparent;
		background-color: rgb(8, 60, 150);
		text-decoration: none;
		color: #fff;
	}
	@include phone {
		padding: 0.7rem 2rem;
		right: 50%;
		top: 2.4rem;
		transform: translate3D(50%, 0, 0);
		font-size: 1.4rem;
		line-height: 1.71429;
	}
}

.m-map {
	max-width: 100%;
	position: relative;
	@include desktop {
		margin-bottom: -197px;
		height: calc(197px + 100vh);
	}
	@include tablet {
		margin-bottom: -283px;
		height: calc(283px + 100vh);
	}
	@include phone {
		margin-bottom: -462px;
		height: calc(462px + 100vh);
	}
	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.7);
		padding: 38px 19px 30px 19px;
		@media screen and (max-width: 767px) {
			top: 0;
			left: 0;
			right: 0;
			transform: translate(0%, 0%);
		}
	}
}

.m-contacts {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.m-contacts-big {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		color: #474b57;
		line-height: 1.5;
	}
	&__item {
		padding: 15px;
		vertical-align: middle;
		@media screen and (min-width: 1200px) {
			display: inline-block;
			width: 46%;
		}
		@media screen and (max-width: 1200px) {
			display: block;
			width: 100%;
		}
	}
	&__icon {
		width: 40px;
		height: 40px;
		margin-right: 10px;
		vertical-align: middle;
	}
	&__title {

	}
}

.m-nav {
	margin: 0;
	padding: 0;
	&__list {
		margin: 0 0 30px 0;
		padding: 0;
		width: 100%;
		list-style: none;
		white-space: nowrap;
		text-align: justify;
		text-align-last: justify;
	}
	&__item {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			color: #fff;
			text-decoration: none;
		}
	}
}

.m-footer-section {
	position: relative;
	padding: 3.1rem;
	font-size: 1.6rem;
	line-height: 1.5;
	@include desktop {
		&:not(:last-child)::after {
			content: ' ';
			width: 0.2rem;
			position: absolute;
			right: 0;
			top: 3.1rem;
			bottom: 3.1rem;
			background-color: rgba(255, 255, 255, 0.2);
			font-weight: 300;
		}
		&_description {
			display: block;
			float: left;
			width: 35%;
			text-align: left;
			font-weight: 300;
		}
		&_nav {
			float: left;
			width: 40%;
			text-align: left;
			font-weight: 500;
		}
		&_contacts {
			float: left;
			width: 25%;
			text-align: left;
			font-weight: 300;
		}
	}
	@media screen and (max-width: 1200px) {
		&_description {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 300;
			&::after {
				content: ' ';
				height: 2px;
				position: absolute;
				left: 31px;
				right: 31px;
				bottom: -2px;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
		&_nav {
			float: left;
			width: 50%;
			text-align: left;
			font-weight: 500;
		}
		&_contacts {
			float: left;
			width: 50%;
			text-align: right;
			font-weight: 300;
		}
	}
	@media screen and (max-width: 768px) {
		&:not(:last-child)::after {
			content: ' ';
			height: 2px;
			position: absolute;
			left: 31px;
			right: 31px;
			bottom: -2px;
			background-color: rgba(255, 255, 255, 0.2);
		}
		&_description {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 300;
		}
		&_nav {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 500;
		}
		&_contacts {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 300;
		}
	}
}

.m-work {
	text-align: center;
}

.m-button {
	display: inline-block;
	position: relative;
	padding: 0.3rem 2.8rem;
	background-color: rgb(0, 76, 209);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.25;
	color: #fff;
	&:link, &:visited, &:hover, &:active {
		text-decoration: none;
	}
	&_link::before {
		content: ' ';
		display: inline-block;
		position: relative;
		width: 14px;
		height: 14px;
		background: url('../img/link.svg') no-repeat center center;
		background-size: 14px;
	}
	@include phone {
		padding: 0.7rem 2rem;
		font-size: 1.4rem;
		line-height: 1.71429;
	}
}

.m-recalls {
	max-width: 100%;
	background: url('../img/night2.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	@include desktop {
		margin-bottom: -200px;
		padding: 70px 0 250px 0;
	}
	@include tablet {
		margin-bottom: -288px;
		padding: 50px 0 350px 0;
	}
	@include phone {
		margin-bottom: -462px;
		padding: 40px 0 520px 0;
	}
	&__form {
		margin: 0 auto;
		max-width: 380px;
		background-color: rgba(255, 255, 255, 0.05);
		text-align: center;
	}
}

.m-comment {
	&__list {
		padding: 0;
		list-style: none;
		position: relative;
		display: block;
		text-align: center;
	}
	&__item {
		padding: 0;
		display: inline-block;
		max-width: 387px;
		color: #fff;
		line-height: 1.625;
		&:not(:last-child) {
			margin-right: 10px;
		}
		@include desktop {
			margin: 0 0 7rem 0;
		}
		@include tablet {
			margin: 0 0 5rem 0;
		}
		@include phone {
			margin: 0 0 4rem 0;
		}
	}
	&__userpic {
		@include size(7.7rem);
		margin: 0 auto 2.2rem auto;
		border-radius: 50%;
		background-size: cover;
		@include phone {
			@include size(5.1rem);
			margin-bottom: 2.2rem;
		}
		&_1 {
			background-image: url(../img/user-dmitrii.jpg);
		}
		&_2 {
			background-image: url(../img/user-zar.jpg);
		}
	}
	&__comment {
		margin-bottom: 2rem;
		position: relative;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.7143;
		font-style: italic;
		@include desktop {
			margin-bottom: 3rem;
			padding: 0 1.2rem;
			font-size: 1.6rem;
			line-height: 1.625;
		}
		@include tablet {
			padding: 0 2.3rem;
		}
		@include phone {
			padding: 0 1rem;
			text-align: center;
		}
		&::before {
			content: ' ';
			position: absolute;
			top: -2.2rem;
			left: 0.4rem;
			display: block;
			@include size(9rem, 7.4rem);
			background: url('../img/quote.svg') no-repeat;
			background-size: 7.4rem;
			opacity: 0.1;
		}
	}
	&__comment-author {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 700;
		font-style: italic;
		line-height: 1.5;
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__comment-description {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		font-style: italic;
		line-height: 1.5;
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
		&::before {
			content: '- ';
		}
	}
}

.m-tabs {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 45px;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item {
		flex-grow: 1;
		position: relative;
		background-color: rgba(0, 76, 209, 0.85);
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		&:hover {
			background-color: rgba(4, 62, 163, 0.85);
		}
		&:not(:first-child) {
			border-left: 2px solid rgba(255, 255, 255, 0.5);
		}
		&_special {
			background-color: transparent;
			&:not(:first-child) {
				border-color: transparent;
			}
		}
		@include desktop {
			font-size: 1.6rem;
			line-height: 2.25;
		}
		@include tablet {
			font-size: 1.6rem;
			line-height: 2.25;
		}
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		&:link, &:visited, &:hover, &:active {
			color: #fff;
			text-decoration: none;
		}
	}
}

.m-arrow-down {
	&:link, &:visited, &:hover, &:active {
		background: url('../img/arrow_down.svg') no-repeat center center;
		background-size: 25px;
		text-decoration: none;
		display: block;
		width: 25px;
		height: 25px;
	}
}

.m-paragraph {
	display: block;
	margin: 0 0 10px 0;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #474b57;
}

.m-article {
	&__list {
		display: block;
		float: left;
		width: 70%;
		margin: 0;
		padding: 0 30px;
		list-style: none;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
	&__item {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		&:not(:last-child) {
			padding-bottom: 71px;
			margin-bottom: 61px;
			&::after {
				content: ' ';
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 5px;
				background-color: rgba(55, 62, 66, 0.07);
			}
		}
		p {
			@extend .m-paragraph;
			margin: 0 0 20px 0;
		}
		img {
			max-width: 100%;
		}
	}
	&__title {
		margin: 0 0 20px 0;
		font-family: 'SansusWebissimo', sans-serif;
		font-size: 35px;
		font-weight: 500;
		line-height: 1.17143;
		color: #455a64;
	}
	&__date {
		display: block;
		margin-bottom: 19px;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: rgba(#083c96, 0.70);
		line-height: 2.5625;
	}
}

.m-blog-contents {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
	}
	&__item {
		margin: 0;
		padding: 0;
		line-height: 1.625;
		font-family: 'Roboto', sans-serif;
	}
	&__link {
		&:link, &:visited {
			display: block;
			padding: 10px 20px;
			position: relative;
			font-weight: 400;
			color: #566358;
			text-decoration: none;
		}
		&:hover, &:active {
			color: #083c96;
			&:after {
				content: ' ';
				position: absolute;
				display: block;
				background-color: #083c96;
				top: 0;
				right: 0;
				bottom: 0;
				width: 3px;
			}
		}
		&_active, &_active:link {
			font-weight: 700;
			color: #083c96;
			&:after {
				content: ' ';
				position: absolute;
				display: block;
				background-color: #083c96;
				top: 0;
				right: 0;
				bottom: 0;
				width: 3px;
			}
		}
	}
}

.m-skills {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__list-title {
		margin: 0 0 20px 0;
		font-family: 'Roboto', sans-serif;
		font-size: 28px;
		font-weight: 500;
		line-height: 1.171518;
		color: #474b57;
	}
	&__item {
		display: inline-block;
		width: #{$graph__d}px;
		height: #{$graph__d}px;
		margin: 0 34px 40px 0;
		padding: 0;
		position: relative;
	}
	&__title {
		display: block;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 12.8px;
		font-weight: 500;
		line-height: 1.1466;
		color: #243994;
	}
}

.m-graph {
	transform: rotate(-90deg);
	height: 100%;
	width: 100%;
	viewBox: 0 0 $graph__d $graph__d;
	&__canvas {
		@include graph($graph__x,$graph__y,$graph__r,#dfdcd5,$graph__sw,transparent);
	}
	&__progress {
		@include graph($graph__x,$graph__y,$graph__r,#1056d1,$graph__sw,transparent);
		@each $percent in (0, 10,20,30,40,50,60,70,80,90,100) {
			&_#{$percent} {
				stroke-dasharray: ($graph__p / 100 * $percent) $graph__p;
			}
		}
	}
}

.m-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	&_hc {
		justify-content: center;
	}
	&_vc {
		align-items: center;
	}
}

.m-slider {
	position: relative;
	display: block;
	height: 100vh;
	min-height: 65rem;
	background-color: #f2f0e8;
	overflow: auto;
	&__description {
		position: relative;
		display: block;
		float: left;
		text-align: center;
		@include desktop {
			width: 50%;
			height: 100%;
		}
		@include tablet {
			width: 100%;
			height: 28%;
		}
		@include phone {
			width: 100%;
			height: 40%;
		}
	}
	&__preview {
		position: relative;
		display: block;
		width: 50%;
		height: 70%;
		float: right;
		background: url('../img/project1.png') no-repeat center center;
		background-size: contain;
		@include desktop {
			width: 50%;
			height: 70%;
		}
		@include tablet {
			width: 100%;
			height: 50%;
		}
		@include phone {
			float: left;
			width: 100%;
			height: 45%;
		}
	}
	&__controls {
		position: relative;
		display: block;
		width: 50%;
		height: 30%;
		float: right;
		overflow: auto;
		@include desktop {
			width: 50%;
			height: 30%;
		}
		@include tablet {
			width: 100%;
			height: 22%;
		}
		@include phone {
			float: left;
			width: 100%;
			height: 15%;
		}
		&_left {
			position: relative;
			display: block;
			float: left;
			width: 50%;
			height: 100%;
			background-color: #ccc;
			font-size: 30px;
			background: url('../img/project1.png') no-repeat center center;
			background-size: contain;
		}
		&_right {
			position: relative;
			display: block;
			float: right;
			width: 50%;
			height: 100%;
			background-color: #ccc;
			color: #fff;
			font-size: 30px;
			background: url('../img/project1.png') no-repeat center center;
			background-size: contain;
		}
		&_button {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			border: 0;
			outline: none;
			background-color: transparent;
			transition: all 0.2s;
			color: #fff;
			text-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
			cursor: pointer;
			&:hover {
				background-color: rgba(#000, 0.7);
				padding: 10px 0 0 0;
			}
			&-left::before {
				 content: ' ';
				 display: block;
				 width: 100%;
				 height: 100%;
				 background: url('../img/slider_arrow_down.svg') no-repeat center center;
			 }
			&-right::before {
				content: ' ';
				display: block;
				width: 100%;
				height: 100%;
				background: url('../img/slider_arrow_up.svg') no-repeat center center;
			}
		}
	}
}

.m-project {
	width: 100%;
	padding: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__description {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 500;
		color: #083c96;
		@include desktop {
			margin-bottom: 6rem;
		}
		@include tablet {
			margin-bottom: 3rem;
		}
		@include phone {
			margin-bottom: 2rem;
		}
	}
}

.m-welcome {
	margin: 0 auto;
	position: relative;
	padding: 4rem 2rem 3.2rem 2rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	&__userpic {
		display: inline-block;
		@include desktop {
			margin-bottom: 0.4rem;
		}
		@include tablet {
			margin-bottom: 0.6rem;
		}
		@include phone {
			margin-bottom: 1.3rem;
		}
	}
	&__username {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		@include desktop {
			font-size: 2.8rem;
			line-height: 1.2143;
		}
		@include tablet {
			font-size: 2.8rem;
			line-height: 1.2143;
		}
		@include phone {
			font-size: 2.1rem;
			line-height: 1.3333;
		}
	}
	&__description {
		display: block;
		width: 100%;
		margin-bottom: 1.7em;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		@include desktop {
			font-size: 1.6rem;
			line-height: 1.5;
		}
		@include tablet {
			font-size: 1.6rem;
			line-height: 1.5;
		}
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__social {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			display: inline-block;
			@include size(31px, 31px);
			padding: 0;
			@each $social in (vk, gh, in) {
				&_#{$social} {
					background: url('../img/#{$social}.svg') no-repeat center center;
					background-size: 28px;
				}
			}
			&:not(:last-child) {
				margin: 0 21px 0 0;
			}
		}
		&-link {
			&:link, &:visited, &:hover, &:active {
				display: block;
				@include size(31px, 31px);
				text-decoration: none;
			}
		}
	}
}
.m-login-form {
	@include desktop {
		padding: 3.6rem 2.1rem 2rem 2.1rem;
	}
	@include tablet {
		padding: 3rem 2.1rem 2rem 2.1rem;
	}
	@include phone {
		padding: 2.7rem 2.1rem 2rem 2.1rem;
	}
	&__title {
		display: block;
		text-align: center;
		font-family: 'SansusWebissimo', sans-serif;
		text-transform: uppercase;
		@include desktop {
			margin-bottom: 3.6rem;
			font-size: 3.5rem;
			line-height: 1.17143;
		}
		@include tablet {
			margin-bottom: 3rem;
			font-size: 3rem;
			line-height: 1.4;
		}
		@include phone {
			margin-bottom: 3.1rem;
			font-size: 3rem;
			line-height: 1.4;
		}
	}
}

.m-contact-form {
	padding: 4rem 2rem 0 2rem;
	@include desktop {
		padding-top: 4.5rem;
	}
}

.m-userpic {
	display: block;
	@include size (14rem);
	border-radius: 50%;
	background: url("../../assets/img/userpic.jpg") no-repeat 72% 8%;
	background-size: cover;
}