.m-social {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item {
		display: inline-block;
		@include size(31px, 31px);
		padding: 0;
		&:not(:last-child) {
			margin: 0 21px 0 0;
		}
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			display: block;
			@include size(31px, 31px);
			text-decoration: none;
		}
	}
}

.m-title {
	display: block;
	font-family: 'SansusWebissimo', sans-serif;
	color: #373e42;
	&_1 {
		margin: 0;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		@include desktop {
			font-size: 6.3rem;
			line-height: 1.04762;
		}
		@include tablet {
			font-size: 4.9rem;
			line-height: 1.1429;
		}
		@include phone {
			font-size: 3.5rem;
			line-height: 1.2;
		}
	}
	&_2 {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		@include desktop {
			margin: 0 auto 6rem auto;
			font-size: 3.5rem;
			line-height: 1.17143;
		}
		@include tablet {
			margin: 0 auto 5rem auto;
			font-size: 3rem;
			line-height: 1.3667;
		}
		@include phone {
			margin: 0 auto 4rem auto;
			font-size: 2.8rem;
			line-height: 1.333;
		}
		&::after {
			content: ' ';
			display: block;
			width: 9rem;
			height: 3px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			background-color: #566358;
			@include desktop {
				bottom: -3rem;
			}
			@include tablet {
				bottom: -2.5rem;
			}
			@include phone {
				width: 6rem;
				bottom: -2rem;
			}
		}
	}
	&_light {
		color: #fff;
	}
	&_special {
		margin-bottom: 5px;
	}
	&__description {
		text-align: center;
		color: rgb(8, 60, 150);
	}
	&__container {
		width: 100%;
		position: relative;
		@include desktop {
			padding: 7rem 0;
		}
		@include tablet {
			padding: 5rem 0;
		}
		@include phone {
			padding: 4rem 0;
		}
	}
	&__background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3D(-50%, -50%, 0);
		fill: transparent;
		stroke: #fff;
		opacity: 0.15;
		z-index: 0;
		&_accent {
			stroke: #1056d1;
		}
		@include desktop {
			width: 21.4rem;
			height: 18rem;
		}
		@include tablet {
			width: 15.4rem;
			height: 10rem;
		}
		@include phone {
			width: 12rem;
			height: 7.77rem;
		}
	}
}

.m-img {
	position: relative;
	margin-bottom: 27px;
	&_responsive {
		width: 100%;
	}
}

.m-input {
	$input-height: 4.5rem;
	@include size(100%, $input-height);
	position: relative;
	margin-bottom: 2rem;
	&__input {
		@include size(100%);
		padding: 0 1.5rem;
		border: none;
		outline: none;
		&_iconed {
			padding-left: 6.5rem;
		}
		&_special {
			background-color: rgba(255, 255, 255, 0.07);
			color: rgba(255, 255, 255, 0.5);
		}
	}
	&__icon {
		display: block;
		@include size($input-height, $input-height);
		padding: 1.3rem;
		position: absolute;
		background-color: rgb(240, 239, 233);
		fill: rgb(200, 199, 193);
	}
}

.m-textarea {
	&__textarea {
		resize: none;
		border: none;
		outline: none;
		width: 100%;
		height: 13rem;
		padding: 1.5rem;
		margin-bottom: 2rem;
		@include desktop {
		}
		@include tablet {
		}
		@include phone {
			height: 14rem;
		}
		&_special {
			background-color: rgba(255, 255, 255, 0.07);
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

.m-checkbox {
	display: block;
	cursor: pointer;
	@include desktop {
		margin-bottom: 1rem;
	}
	@include tablet {
		margin-bottom: 1rem;
	}
	@include phone {
		margin-bottom: 1rem;
	}
	&__input {
		display: none;
	}
	&__input + &__text::before {
		content: ' ';
		display: inline-block;
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
		position: relative;
		bottom: -0.3rem;
		border-radius: 0.3rem;
		background-color: $color_1;
	}
	&__input:checked + &__text::before {
		content: ' ';
		background: url("../img/check.svg") no-repeat center center;
		background-size: 1.3rem;
		display: inline-block;
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
		position: relative;
		bottom: -0.3rem;
		border-radius: 0.3rem;
		background-color: $color_1;
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		color: #fff;
	}
}

.m-radio {
	display: inline-block;
	cursor: pointer;
	&:not(:last-of-type) {
		margin-right: 4rem;
	}
	&__input {
		display: none;
	}
	&__input + &__answer::before {
		content: ' ';
		display: inline-block;
		@include size(2rem);
		margin-right: 1rem;
		position: relative;
		bottom: -0.3rem;
		border-radius: 1rem;
		background-color: #fff;
	}
	&__input:checked + &__answer::before {
		content: ' ';
		display: inline-block;
		@include size(1rem);
		margin-right: 1rem;
		background: $color_1;
		position: relative;
		bottom: -0.3rem;
		border: 0.5rem solid #fff;
		border-radius: 1rem;
	}
	&__question {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size:1.6rem;
		font-weight: 700;
		line-height: 1.5;
		color: #fff;
	}
	&__answer {
		display: block;
		margin-bottom: 1.6rem;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.5;
		color: #fff;
	}
}

.m-page-info {
	margin: 0 auto;
	position: relative;
	padding: 4rem 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	@include desktop {
		width: 50rem;
	}
	@include tablet {
		width: 34.8rem;
	}
	@include phone {
		width: 30rem;
	}
	&__userpic {
		display: inline-block;
		margin-bottom: 1.4rem;
	}
	&__username {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
		font-family: 'Roboto', sans-serif;
		font-size: 3.5rem;
		font-weight: 500;
		line-height: 1.17149;
		@include phone {
			font-size: 2.1rem;
			line-height: 1.3333;
		}
	}
	&__description {
		display: block;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.5;
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__title {
		/*	Заголовок блога */
		margin-bottom: 2.3rem;
		font-family: 'SansusWebissimo', sans-serif;
		font-size: 6.3rem;
		color: #fff;
		line-height: 0.889;
		@include tablet {
			font-size: 4.9rem;
			line-height: 1.06;
		}
		@include phone {
			font-size: 3.5rem;
			line-height: 1.7143;
		}
	}
	&__background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3D(-50%, 0, 0);
		fill: transparent;
		stroke: #fff;
		opacity: 0.07;
		z-index: -1;
	}
}

.m-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	font-family: 'SansusWebissimo';
	line-height: 0.6857;
	text-transform: uppercase;
	&__item {
		position: relative;
		&:hover::after {
			content: ' ';
			display: block;
			width: 8.9rem;
			position: absolute;
			bottom: -3rem;
			left: 50%;
			transform: translateX(-50%);
			height: 0.3rem;
			background-color: #fff;
			@include phone {
				width: 5.6rem;
				bottom: -1.9rem;
			}
		}
		@include desktop {
			font-size: 6.3rem;
			&:not(:last-child) {
				margin-bottom: 9rem;
			}
		}
		@include tablet {
			font-size: 4.9rem;
			&:not(:last-child) {
				margin-bottom: 10rem;
			}
		}
		@include phone {
			font-size: 3.5rem;
			&:not(:last-child) {
				margin-bottom: 5rem;
			}
		}
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			text-decoration: none;
			color: #fff;
		}
	}
}

.m-menu-toggle {
	display: block;
	padding: 0;
	cursor: pointer;
	fill: #fff;
	&:hover {
		fill: rgba(#fff,.7);
	}
	&_open {
		@include desktop {
			@include size(4rem, 3.5rem);
		}
		@include tablet {
			@include size(4rem, 3.5rem);
		}
		@include phone {
			@include size(2.6rem, 2.3rem);

		}
	}
	&_close {
		@include desktop {
			@include size(3.6rem);
		}
		@include tablet {
			@include size(3.6rem);
		}
		@include phone {
			@include size(2.5rem);
		}
	}
}

.m-login-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem 2.8rem;
	position: absolute;
	top: 2.4rem;
	right: 2rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.25;
	z-index: 100;
	transition: border-color 0.3s, background-color 0.3s;
	&:link, &:visited {
		border: 1px solid #fff;
		text-decoration: none;
		color: #fff;
	}
	&:hover, &:active {
		border-color: transparent;
		background-color: $color_5;
		text-decoration: none;
		color: #fff;
	}
	@include phone {
		padding: 0.7rem 2rem;
		right: 50%;
		top: 2.4rem;
		transform: translate3D(50%, 0, 0);
		font-size: 1.4rem;
		line-height: 1.71429;
	}
}

.m-map {
	max-width: 100%;
	position: relative;
	@include desktop {
		margin-bottom: -197px;
		height: calc(197px + 100vh);
	}
	@include tablet {
		margin-bottom: -283px;
		height: calc(283px + 100vh);
	}
	@include phone {
		margin-bottom: -462px;
		height: calc(462px + 100vh);
	}
	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(252, 252, 252, 0.7);
		@include desktop {
			min-width: 58rem;
			padding: 4rem 2rem;
		}
		@include tablet {
			min-width: 34.8rem;
			padding: 4rem 3rem;
		}
		@include phone {
			padding: 3rem 1rem;
			top: 0;
			left: 0;
			right: 0;
			transform: translate(0%, 0%);
			background-color: rgba(252, 252, 252, 1);
		}
	}
}

.m-contacts {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.m-contacts-big {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.5;
	}
	&__item {
		vertical-align: middle;
		@include desktop {
			display: inline-block;
			width: 46%;
			&:not(:nth-last-child(-n+2)) {
				margin-bottom: 3rem;
			}
		}
		@include tablet {
			display: block;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
		@include phone {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
	&__icon {
		@include size(4.5rem);
		margin-right: 1rem;
		vertical-align: middle;
		fill: $color_1;
		@include phone {
			@include size(3.4rem);
		}
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			color: #474b57;
			text-decoration: none;
		}
	}
}

.m-nav {
	margin: 0;
	padding: 0;
	&__list {
		margin: 0 0 30px 0;
		padding: 0;
		width: 100%;
		list-style: none;
		white-space: nowrap;
		text-align: justify;
		text-align-last: justify;
	}
	&__item {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	&__link {
		&:link, &:visited, &:hover, &:active {
			color: #fff;
			text-decoration: none;
		}
	}
}

.m-footer-section {
	position: relative;
	padding: 3.1rem;
	font-size: 1.6rem;
	line-height: 1.5;
	@include desktop {
		&:not(:last-child)::after {
			content: ' ';
			width: 0.2rem;
			position: absolute;
			right: 0;
			top: 3.1rem;
			bottom: 3.1rem;
			background-color: rgba(255, 255, 255, 0.2);
			font-weight: 300;
		}
		&_description {
			display: block;
			float: left;
			width: 35%;
			text-align: left;
			font-weight: 300;
		}
		&_nav {
			float: left;
			width: 40%;
			text-align: left;
			font-weight: 500;
		}
		&_contacts {
			float: left;
			width: 25%;
			text-align: left;
			font-weight: 300;
		}
	}
	@media screen and (max-width: 1200px) {
		&_description {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 300;
			&::after {
				content: ' ';
				height: 2px;
				position: absolute;
				left: 31px;
				right: 31px;
				bottom: -2px;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
		&_nav {
			float: left;
			width: 50%;
			text-align: left;
			font-weight: 500;
		}
		&_contacts {
			float: left;
			width: 50%;
			text-align: right;
			font-weight: 300;
		}
	}
	@media screen and (max-width: 768px) {
		&:not(:last-child)::after {
			content: ' ';
			height: 2px;
			position: absolute;
			left: 31px;
			right: 31px;
			bottom: -2px;
			background-color: rgba(255, 255, 255, 0.2);
		}
		&_description {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 300;
		}
		&_nav {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 500;
		}
		&_contacts {
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 300;
		}
	}
}

.m-work {
	text-align: center;
}

.m-button {
	display: inline-block;
	position: relative;
	padding: 0.3rem 2.8rem;
	background-color: $color_1;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.25;
	color: #fff;
	&:link, &:visited, &:hover, &:active {
		text-decoration: none;
	}
	@include phone {
		padding: 0.7rem 2rem;
		font-size: 1.4rem;
		line-height: 1.71429;
	}
	&__icon {
		display: inline-block;
		max-width: 1.6rem;
		max-height: 1.6rem;
		margin-right: 1rem;
		position: relative;
		top: 0.3rem;
		fill: #fff;
	}
}

.m-recalls {
	max-width: 100%;
	background: url('../img/night2.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	@include desktop {
		margin-bottom: -20rem;
		padding-bottom: 25rem;
	}
	@include tablet {
		margin-bottom: -28.8rem;
		padding-bottom: 35rem;
	}
	@include phone {
		margin-bottom: -46.2rem;
		padding-bottom: 52rem;
	}
	&__form {
		margin: 0 auto;
		max-width: 380px;
		background-color: rgba(255, 255, 255, 0.05);
		text-align: center;
	}
}

.m-comment {
	&__list {
		padding: 0;
		list-style: none;
		position: relative;
		display: block;
		text-align: center;
	}
	&__item {
		padding: 0;
		display: inline-block;
		max-width: 387px;
		vertical-align: top;
		color: #fff;
		line-height: 1.625;
		&:not(:last-child) {
			margin-right: 10px;
		}
		@include desktop {
			margin: 0 0 7rem 0;
		}
		@include tablet {
			margin: 0 0 5rem 0;
		}
		@include phone {
			margin: 0 0 4rem 0;
		}
	}
	&__userpic {
		@include size(7.7rem);
		margin: 0 auto 2.2rem auto;
		border-radius: 50%;
		background-size: cover;
		@include phone {
			@include size(5.1rem);
			margin-bottom: 2.2rem;
		}
		&_1 {
			background-image: url(../img/user-dmitrii.jpg);
		}
		&_2 {
			background-image: url(../img/vova.png);
		}
	}
	&__comment {
		margin-bottom: 2rem;
		position: relative;
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.7143;
		font-style: italic;
		@include desktop {
			margin-bottom: 3rem;
			padding: 0 1.2rem;
			font-size: 1.6rem;
			line-height: 1.625;
		}
		@include tablet {
			padding: 0 2.3rem;
		}
		@include phone {
			padding: 0 1rem;
			text-align: center;
		}
		&::before {
			content: ' ';
			position: absolute;
			top: -2.2rem;
			left: 0.4rem;
			display: block;
			@include size(9rem, 7.4rem);
			background: url('../img/quote.svg') no-repeat;
			background-size: 7.4rem;
			opacity: 0.1;
		}
	}
	&__comment-author {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 700;
		font-style: italic;
		line-height: 1.5;
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__comment-description {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		font-style: italic;
		line-height: 1.5;
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
		&::before {
			content: '- ';
		}
	}
}

.m-tabs {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 45px;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item {
		flex-grow: 1;
		position: relative;
		background-color: rgba($color_1, 0.85);
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		transition: background-color $transition__time_fast;
		&:hover {
			background-color: rgba($color_2, 0.85);
		}
		&:not(:first-child) {
			border-left: 2px solid rgba(255, 255, 255, 0.5);
		}
		&_special {
			background-color: transparent;
			&:not(:first-child) {
				border-color: transparent;
			}
		}
		@include desktop {
			font-size: 1.6rem;
			line-height: 2.25;
		}
		@include tablet {
			font-size: 1.6rem;
			line-height: 2.25;
		}
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		&:link, &:visited, &:hover, &:active {
			color: #fff;
			text-decoration: none;
		}
	}
}

.m-arrow-down {
	background: url('../img/arrow_down.svg') no-repeat center center;
	background-size: 2.5rem;
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	transition: height 0.3s;
	&:link, &:visited {
		text-decoration: none;
	}
	&:hover, &:active {
		text-decoration: none;
		height: 3rem;
	}
}

.m-paragraph {
	display: block;
	margin: 0 0 10px 0;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	color: #474b57;
	@include tablet {
		font-size: 1.4rem;
		line-height: 1.7143;
	}
	@include phone {
		font-size: 1.4rem;
		line-height: 1.7143;
	}
}

.m-article {
	&__list {
		display: block;
		float: left;
		width: 70%;
		margin: 0;
		padding: 0 10rem;
		list-style: none;
		@include tablet {
			width: 100%;
			padding: 0 2.3rem;
		}
		@include phone {
			width: 100%;
			padding: 0 1rem;
		}
	}
	&__item {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		&:not(:last-child) {
			padding-bottom: 7.5rem;
			margin-bottom: 7rem;
			@include tablet {
				padding-bottom: 5.5rem;
				margin-bottom: 5rem;
			}
			@include phone {
				padding-bottom: 3rem;
				margin-bottom: 3rem;
			}
			&::after {
				content: ' ';
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 0.5rem;
				background-color: rgba(55, 62, 66, 0.07);
				@include phone {
					height: 0.4rem;
				}
			}
		}
		p {
			@extend .m-paragraph;
			margin: 0 0 20px 0;
		}
		img {
			max-width: 100%;
		}
	}
	&__title {
		margin: 0 0 3rem 0;
		font-family: 'SansusWebissimo', sans-serif;
		font-size: 3.5rem;
		font-weight: 500;
		line-height: 1.17143;
		color: #455a64;
		@include tablet {
			margin: 0 0 2rem 0;
			font-size: 3rem;
			line-height: 1.2;
		}
		@include phone {
			margin: 0 0 2rem 0;
			font-size: 2.1rem;
			line-height: 1.333;
		}
	}
	&__date {
		display: block;
		margin: 0 0 2rem 0;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: rgba($color_5, 0.70);
		line-height: 2.5625;
		@include desktop {
			margin-bottom: 3rem;
		}
	}
}

.m-blog-contents {
	position: absolute;
	top: 0;
	left: 0;
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
	}
	&__item {
		margin: 0;
		padding: 0;
		line-height: 1.625;
		font-family: 'Roboto', sans-serif;
	}
	&__link {
		&:link, &:visited {
			display: block;
			padding: 10px 20px;
			position: relative;
			font-weight: 400;
			color: #566358;
			text-decoration: none;
		}
		&:hover, &:active {
			color: $color_5;
			&:after {
				content: ' ';
				position: absolute;
				display: block;
				background-color: $color_5;
				top: 0;
				right: 0;
				bottom: 0;
				width: 3px;
			}
		}
		&_active, &_active:link {
			font-weight: 700;
			color: #083c96;
			&:after {
				content: ' ';
				position: absolute;
				display: block;
				background-color: $color_5;
				top: 0;
				right: 0;
				bottom: 0;
				width: 3px;
			}
		}
	}
}

.m-skills {
	@include desktop {
		padding-top: 5rem;
	}
	@include tablet {
		padding-top: 4rem;
	}
	@include phone {
		padding-top: 2rem;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		@include desktop {
			text-align: left;;
		}
	}
	&__list-title {
		margin: 0 2rem 2rem 2rem;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 2.1rem;
		font-weight: 500;
		line-height: 1.333;
		color: #474b57;
		@include desktop {
			text-align: left;
			font-size: 2.8rem;
			line-height: 1.1429;
		}
	}
	&__item {
		display: inline-block;
		width: #{$graph__d}px;
		height: #{$graph__d}px;
		margin: 0 2rem 4rem 2rem;
		padding: 0;
		position: relative;
		@include tablet {
			margin-bottom: 4.5rem;
		}
		@include phone {
			margin-bottom: 3rem;
		}
	}
	&__title {
		display: block;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 12.8px;
		font-weight: 500;
		line-height: 1.1466;
		color: $color_2;
	}
}

.m-graph {
	transform: rotate(-90deg);
	height: 100%;
	width: 100%;
	viewBox: 0 0 $graph__d $graph__d;
	&__canvas {
		@include graph($graph__x,$graph__y,$graph__r,#dfdcd5,$graph__sw,transparent);
	}
	&__progress {
		@include graph($graph__x,$graph__y,$graph__r,$color_3,$graph__sw,transparent);
		@each $percent in (0, 10,20,30,40,50,60,70,80,90,100) {
			&_#{$percent} {
				stroke-dasharray: ($graph__p / 100 * $percent) $graph__p;
			}
		}
	}
}

.m-container {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	&_hc {
		justify-content: center;
	}
	&_vc {
		align-items: center;
	}
}

.m-slider {
	position: relative;
	display: block;
	height: 100vh;
	min-height: 65rem;
	background-color: #f2f0e8;
	overflow: auto;
	&__description {
		position: relative;
		display: block;
		float: left;
		text-align: center;
		@include desktop {
			width: 50%;
			height: 100%;
		}
		@include tablet {
			width: 100%;
			height: 30%;
		}
		@include phone {
			width: 100%;
			height: 35%;
		}
	}
	&__preview {
		display: block;
		width: 50%;
		height: 70%;
		position: relative;
		float: right;
		overflow: hidden;
		background-color: #e3e2de;
		@include desktop {
			width: 50%;
			height: 70%;
		}
		@include tablet {
			width: 100%;
			height: 45%;
		}
		@include phone {
			float: left;
			width: 100%;
			height: 45%;
		}
	}
	&__image {
		display: block;
		max-width: 90%;
		max-height: 90%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;

	}
	&__controls {
		position: relative;
		display: block;
		width: 50%;
		height: 30%;
		background-color: #e3ded0;
		float: right;
		overflow: hidden;
		@include desktop {
			width: 50%;
			height: 30%;
		}
		@include tablet {
			width: 100%;
			height: 25%;
		}
		@include phone {
			float: left;
			width: 100%;
			height: 20%;
		}
		&_left {
			position: relative;
			display: block;
			float: left;
			width: 50%;
			height: 100%;
		}
		&_right {
			position: relative;
			display: block;
			float: right;
			width: 50%;
			height: 100%;
		}
		&_button {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			border: 0;
			outline: none;
			background-color: rgba($color_2, 0.3);
			transition: all 0.3s;
			cursor: pointer;
			&:hover {
				background-color: rgba($color_2, 0.5);
				height: 120%;
			}
		}
		&-icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3D(-50%,-50%,0);
			@include size(4rem);
			fill: #fff;
		}
	}
}

.m-project {
	width: 100%;
	padding: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__list {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		list-style: none;
	}
	&__item {
		display: block;
		width: 100%;
		height: 100%;
		margin: auto;
		padding: 0;
		position: absolute;
		top: -100%;
		right: 0;
		left: 0;
		&_active {
			top: 0%;
		}
	}
	&__description {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		font-weight: 500;
		color: $color_5;
		@include desktop {
			margin-bottom: 6rem;
		}
		@include tablet {
			margin-bottom: 3rem;
		}
		@include phone {
			margin-bottom: 2rem;
		}
	}
}

.m-welcome {
	margin: 0 auto;
	position: relative;
	padding: 4rem 2rem 3.2rem 2rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	&__userpic {
		display: inline-block;
		@include desktop {
			margin-bottom: 0.4rem;
		}
		@include tablet {
			margin-bottom: 0.6rem;
		}
		@include phone {
			margin-bottom: 1.3rem;
		}
	}
	&__username {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		@include desktop {
			font-size: 2.8rem;
			line-height: 1.2143;
		}
		@include tablet {
			font-size: 2.8rem;
			line-height: 1.2143;
		}
		@include phone {
			font-size: 2.1rem;
			line-height: 1.3333;
		}
	}
	&__description {
		display: block;
		width: 100%;
		margin-bottom: 1.7em;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		@include desktop {
			font-size: 1.6rem;
			line-height: 1.5;
		}
		@include tablet {
			font-size: 1.6rem;
			line-height: 1.5;
		}
		@include phone {
			font-size: 1.4rem;
			line-height: 1.7143;
		}
	}
	&__social {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			display: inline-block;
			@include size(31px, 31px);
			padding: 0;
			&:not(:last-child) {
				margin: 0 21px 0 0;
			}
		}
		&-link {
			&:link, &:visited, &:hover, &:active {
				display: block;
				@include size(31px, 31px);
				text-decoration: none;
			}
		}
		&-icon {
			@include size(2.8rem);
			fill: rgba($color_1, 0.7);
			transition: fill $transition__time_fast;
			&:hover {
				fill: $color_1;
			}
		}
	}
}
.m-login-form {
	@include desktop {
		padding: 3.6rem 2.1rem 2rem 2.1rem;
	}
	@include tablet {
		padding: 3rem 2.1rem 2rem 2.1rem;
	}
	@include phone {
		padding: 2.7rem 2.1rem 2rem 2.1rem;
	}
	&__title {
		display: block;
		text-align: center;
		font-family: 'SansusWebissimo', sans-serif;
		text-transform: uppercase;
		@include desktop {
			margin-bottom: 3.6rem;
			font-size: 3.5rem;
			line-height: 1.17143;
		}
		@include tablet {
			margin-bottom: 3rem;
			font-size: 3rem;
			line-height: 1.4;
		}
		@include phone {
			margin-bottom: 3.1rem;
			font-size: 3rem;
			line-height: 1.4;
		}
	}
}

.m-contact-form {
	padding: 4rem 2rem 0 2rem;
	@include desktop {
		padding-top: 4.5rem;
	}
}

.m-userpic {
	display: block;
	@include size (14rem);
	border-radius: 50%;
	background: url("../../assets/img/userpic.jpg") no-repeat 72% 8%;
	background-size: cover;
}

.m-video {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	overflow: hidden;
	object-fit: cover;
	z-index: -1;
}